<!doctype html>
<html>
  <head>
    <title>Online Calculator</title>
  </head>
  <body>
    <ul>
      <form action="/calculate" method="post">
        <input type="number" step="0.01" placeholder="First number" name="number1" <% if @result %>value="<%= @result %>"<% end %>>
        <input type="number" step="0.01" placeholder="Second number" name="number2">
        <button type="submit" name="operation" value="add"> Add </button>
        <button type="submit" name="operation" value="substract"> Substract </button>
        <button type="submit" name="operation" value="multiply"> Multiply </button>
        <button type="submit" name="operation" value="divide"> Divide </button>
      </form>
    </ul>
  </body>
</html>