<!doctype html>
<html>
  <head>
    <title>Substract | Online Calculator</title>
  </head>
  <body>
    <h1>Substract</h1>
    <form action="/calculate-substract" method="post">
      <input type="text" placeholder="First number" name="number1">
      <input type="text" placeholder="Second number" name="number2">
      <button type="submit"> Calculate </button>
    </form>
  </body>
</html>